@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-container {
  width: 400px;
  padding: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}